{% extends 'base.html' %}

<!--navbar-->
{% block nav-btn %}
<a href="{% url 'data_create' %}" id="btn-nav" class="btn btn-outline-light">Go home</a>
{% endblock nav-btn %}

<!--page content-->
{% block content %}
<div class="container mt-5">
    <h5 class="card p-2 bg-warning text-center mb-3">LIST OF CANDIDATES</h5>
    <table class="table table-bordered text-light" style="text-align: center;">
        <thead class="table-warning">
            <tr>
                <th style="width: 25%;">Name</th>
                <th style="width: 20%;">Phone</th>
                <th style="width: 23%;">Email</th>
                <th style="width: 7%;">Gender</th>
                <th style="width: 15%;">Career</th>
                <th colspan="2" style="width: 10%;" style="width: 10%;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data_read %}
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.phone }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.gender }}</td>
                <td>{{ data.career }}</td>
                <td class="bg-warning">
                    <a href="{% url 'data_update' data.id %}" class="btn btn-sm">
                        <i class="fas fa-pen f-size"></i>
                    </a>
                </td>
                <td class="bg-secondary">
                    <a href="/data_delete/{{ data.id }}" class="btn btn-sm text-light">
                        <i class="fas fa-trash-alt f-size"></i>
                    </a>
                </td>
                {% empty %}
                <td colspan="6" style="color: #ff7f7f;">No records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}